<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header border-bottom-0">
                <button type="button" class="btn-close float-end" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body text-start text-black p-4">
                {% if total_price %}
                <h5 class="modal-title text-uppercase mb-5" id="exampleModalLabel">{{ current_user.first_name }} {{ current_user.last_name }}</h5>
                <h4 class="mb-5" style="color: #35558a;">Thanks for your order</h4>
                <p class="mb-0" style="color: #35558a;">Payment summary</p>
                <hr class="mt-2 mb-4"
                    style="height: 0; background-color: transparent; opacity: .75; border-top: 2px dashed #9e9e9e;">
                {% for order in orders %}
                <div class="d-flex justify-content-between">
                    <p class="fw-bold mb-0">{{ order.name }}</p>
                    <p class="text-muted mb-0">${{ order.price }}</p>
                </div>
                {% endfor %}


                <div class="d-flex justify-content-between">
                    <h5 class="fw-bold" style="color: #35558a;">Total</h5>
                    <h5 class="fw-bold" style="color: #35558a;">${{ total_price }}</h5>
                </div>

            </div>
            <div class="modal-footer d-flex justify-content-center border-top-0 py-4">
                <form method="POST">
                    {{ buy_form.hidden_tag() }}
                    <input id="buy_now" name="buy_now" type="hidden" value="">
                    {{ buy_form.submit(class="btn btn-success btn-lg mb-1") }}
                </form>
                <form method="POST">
                    {{ cancel_form.hidden_tag() }}
                    <input id="cancel_order" name="cancel_order" type="hidden" value="">
                    {{ cancel_form.submit(class="btn btn-danger btn-lg mb-1") }}
                </form>
                {% else %}
                <h4 class="mb-5" style="color: #35558a;">Your cart is empty.</h4>
                {% endif %}

<!--                <button type="button" class="btn btn-success btn-lg mb-1">-->
<!--                    Buy now-->
<!--                </button>-->
<!--                <button type="button" class="btn btn-danger btn-lg mb-1">-->
<!--                    Cancel order-->
<!--                </button>-->
            </div>
        </div>
    </div>
</div>

