{% extends 'base.html' %}
{% block title %}
    Home page
{% endblock %}

{% block navigation %}
{% endblock %}

{% block content%}
<section class="p-5 text-center text-sm-start">
    <div class="container">
        <div class="d-sm-flex align-items-center justify-content-between">

            <div class="container">
                <h1>Welcome Home!</h1>
                <p class="lead my-4 align-baseline">
                    Online shopping is a form of electronic commerce which allows consumers to directly buy goods
                    or services from a seller over the Internet using a web browser or a mobile app. Consumers find
                    a product of interest by visiting the website of the retailer directly or by searching among
                    alternative vendors using a shopping search engine, which displays the same product's availability
                    and pricing at different e-retailers. As of 2020, customers can shop online using a range of
                    different computers and devices, including desktop computers, laptops, tablet computers and
                    smartphones.
                </p>
                <br>
                <button class="btn btn-secondary btn-lg">Go to shop</button>

            </div>
            <img class="img-fluid w-50 d-none d-sm-block" src="../static/img/shop.svg" alt="shop_pic"/>


        </div>
    </div>
</section>
{% endblock %}




