{% extends 'base.html' %}
{% block title %}
Shop
{% endblock %}
{% block content%}

{% include 'includes/order_details.html' %}

<section id="items" class="p-5">
    <div class="container">
        <h2 class="text-center">Available items</h2>
        <p class="lead text-center mb-5">In antiquity, marketplaces and fairs were established to facilitate the
            exchange of goods and services. People would shop for goods at a regular market in nearby towns.
            However, the transient nature of stalls and stall-holders meant the consumers needed to make careful
            inspection of goods prior to purchase. In ancient Greece, the agora served as a marketplace where merchants
            kept stalls or shops to sell their goods.</p>
        <div class="row g-4">
            {% for product in products %}
            <div class="col-md-6 col-lg-3">
                <div class="card bg-light">
                    <div class="card-body text-center">
                        <img src="../static/products/{{ product.id }}.png" class="card-img mb-3"
                             alt="{{ product.name }}">
                        <h5 class="card-title mb-3">{{ product.name }}</h5>
                        <p class="card-text">{{ product.description }}</p>
                        <p class="card-text"><strong>{{ product.price }}$</strong></p>
                        <form method="POST">
                            {{ add_form.hidden_tag() }}
                            <input id="product" name="product" type="hidden" value="{{ product.id }}">
                            {{ add_form.submit(class="btn btn-lg btn-secondary") }}
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}

